<script>
	// @ts-nocheck
	import _ from 'lodash';
	import { Core } from '$lib/three/core';
	import { onMount } from 'svelte';
	$: windowWidth = 0;
	$: windowHeight = 0;
	let animation;
	const handleResize = () => {
		animation?.sizes?.resize({
			_width: windowWidth,
			_height: windowHeight,
			_aspectRatio: windowWidth / windowHeight,
			_pixelRatio: Math.min(window.devicePixelRatio, 2)
		});
		animation.resize();
	};
	const handleResizeDebounce = _.debounce(handleResize, 100);
	onMount(async () => {
		const dat = await import('dat.gui');
		const gui = new dat.GUI();
		const canvas = document.getElementById('web-gl');
		animation = new Core(canvas, windowWidth, windowHeight, gui);
	});
</script>

<svelte:window
	bind:innerWidth={windowWidth}
	bind:innerHeight={windowHeight}
	on:resize={() => {
		handleResizeDebounce();
	}}
/>
<canvas id="web-gl" />
